@media screen and (max-width:950px) {
  .header__nav {
    display: none;
  }

  .header__item {
    color: red;
  }

  .skil__txt {
    width: 300px;
  }

  .about__txt {
    width: 300px;
    text-align: center;
  }
  .burger-menu {
    display: block;
  }

  .about__img img {
    max-width: 350px;
    width: 90%;
  }

  .degrees span {
    padding-left:260px ;
  }
}

@media screen and (max-width:400px) {
  .about__img img {
    padding-bottom: 30px;
  }

  .about-btn {
    margin-bottom: 20px;
  }

  .about__txt {
    width: 200px;
    text-align: center;
    font-size: 10px;
  }

  .degrees span {
    padding-left: 200px;
  }

  .offer__item {
    margin-bottom: 60px;
  }

  #skil-section {
    padding-top: 0;
  }

  .skil__descrip {
    padding-top: 20px;
  }
}